<section class="animate__animated animate__fadeIn relative">
    <p class="page-title">
        <span>admin meeting board</span>
    </p>


    <!-- here is the tab navigation -->
    <ul
        class="cark:border-gray-700 cark:text-gray-400 flex flex-wrap border-b border-gray-200 text-center text-sm font-medium text-gray-500">
        <!--<li id="rccview" class="cp viewer me-2" onclick="did('cancelreservationform').classList.add('hidden');this.children[0].classList.add('active', '!text-blue-600');did('lostandfoundview').classList.remove('hidden');this.nextElementSibling.children[0].classList.remove('active', '!text-blue-600');">-->
        <li class="cp viewer optioner active me-2 !text-blue-600" name="viewadminboard" onclick="runoptioner(this)">
            <p class="inline-block rounded-t-lg p-4 capitalize hover:bg-gray-50 hover:text-gray-600">
                view admin meeting board
            </p>
        </li>
    </ul>


    <div class="" id="viewadminboard">
        <form id="viewadminboardform" class="">
            <div class="flex flex-col space-y-3 rounded-sm bg-blue-100 p-5 xl:p-10">
                <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
                    <div class="form-group">
                        <label for="logoname" class="control-label">Branch</label>
                        <select name="branch" id="branch" class="form-controls !bg-white !text-black comp">
                            <option>Loading...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="logoname" class="control-label">Membership</label>
                        <select name="member" id="member" class="form-controls !bg-white !text-black comp">
                            <option>Loading...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="asofdate" class="control-label">As of</label>
                        <input type="date" name="asofdate" id="asofdate" class="form-control !bg-white !text-black comp">
                    </div>
                    <div class="mt-5 flex justify-end">
                        <button id="querySubmit" type="button" class="btn">
                            <div class="btnloader" style="display: none;"></div>
                            <span>Submit</span>
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <div class="table-content">
            <div id="summary"></div>
            <!--<p class="text-md font-semibold">Balance Brought Forward(B/F): <span id="bbf"></span></p>-->
            <table class="table-auto">
                <thead id="tableheader">
                    <tr>
                        <th style="width: 10px"></th>
                    </tr>
                </thead>
                <tbody id="tabledata">
                    <tr>
                        <td colspan="100%" class="text-center opacity-70">
                            Table is empty
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-status"></div>
    </div>
</section>