<section class="animate__animated animate__fadeIn relative">
  <p class="page-title">
    <span>GL Net Asset</span>
  </p>

  <div class="form-group">
    <label for="accounts" class="control-label">Accounts</label>
    <select
      name="accounts"
      id="accounts"
      multiple
      class="form-controls"
    >
      <option value="">Loading...</option>
      <!-- Add more membership options as needed -->
    </select>
  </div>
  <div class="my-5 flex justify-end">
    <button id="accountSubmit" type="button" class="btn">
      <div class="btnloader" style="display: none"></div>
      <span>Submit</span>
    </button>
  </div>

  <div id="resultContainer"></div>
  
</section>
