<section class="animate__animated animate__fadeIn relative">
  <p class="page-title">
    <span>propertyproduct</span>
  </p>

  <div class="mb-3 flex w-full justify-end gap-4">
    <button
      onclick="printContent('Property Product Details', null, 'viewpropertyproduct', true)"
      type="button"
      class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
    >
      <div class="btnloader" style="display: none"></div>
      <span class="material-icons">print</span>
    </button>

    <button
      onclick="exportToPDF('viewpropertyproduct')"
      type="button"
      class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
    >
      <div class="btnloader" style="display: none"></div>
      <span class="material-icons">picture_as_pdf</span>
    </button>

    <button
      onclick="exportToExcel('viewpropertyproduct', 'property_product_list')"
      type="button"
      class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
    >
      <div class="btnloader" style="display: none"></div>
      <span class="material-icons">file_download</span>
    </button>
  </div>

  <!-- here is the tab navigation -->
  <ul
    class="cark:border-gray-700 cark:text-gray-400 flex flex-wrap border-b border-gray-200 text-center text-sm font-medium text-gray-500"
  >
    <!--<li id="rccview" class="cp viewer me-2" onclick="did('cancelreservationform').classList.add('hidden');this.children[0].classList.add('active', '!text-blue-600');did('lostandfoundview').classList.remove('hidden');this.nextElementSibling.children[0].classList.remove('active', '!text-blue-600');">-->
    <li
      class="cp viewer optioner active me-2 !text-blue-600"
      name="viewpropertyproduct"
      onclick="runoptioner(this)"
    >
      <p
        class="inline-block rounded-t-lg p-4 capitalize hover:bg-gray-50 hover:text-gray-600"
      >
        view property product
      </p>
    </li>
    <li
      id=""
      class="cp updater optioner me-2"
      name="propertyproductform"
      onclick="runoptioner(this)"
    >
      <p
        class="inline-block rounded-t-lg p-4 capitalize hover:bg-gray-50 hover:text-gray-600"
      >
        Manage property product
      </p>
    </li>
  </ul>

  <form id="propertyproductform" class="hidden">
    <div class="flex flex-col space-y-3 rounded-sm bg-white/90 p-5 xl:p-10">
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
          <!-- Product Name -->
          <div class="form-group">
            <label for="product" class="control-label">Product Name</label>
            <input
              type="text"
              name="product"
              id="product"
              class="form-control comp"
              placeholder="Enter Product Name"
            />
          </div>

          <!-- Description -->
          <div class="form-group">
            <label for="description" class="control-label">Description</label>
            <textarea
              name="description"
              id="description"
              class="form-control comp"
              placeholder="Enter Description"
            >
            </textarea>
          </div>

          <!-- Registration Charge -->
          <div class="form-group">
            <label for="registrationcharge" class="control-label"
              >Registration Charge</label
            >
            <input
              type="number"
              name="registrationcharge"
              id="registrationcharge"
              class="form-control comp"
              placeholder="Enter Registration Charge"
            />
          </div>

          <!-- Membership -->
          <div class="form-group">
            <label for="membership" class="control-label">Membership</label>
            <select
              name="membership"
              id="membership"
              multiple
              class="form-controls comp"
            >
              <option value="">Loading...</option>
              <!-- Add more membership options as needed -->
            </select>
          </div>

          <!-- Currency -->
          <div class="form-group">
            <label for="currency" class="control-label">Currency</label>
            <select name="currency" id="currency" class="form-control comp">
              <option value="NGN">NGN</option>
              <option value="USD">USD</option>
              <!-- Add more currencies as needed -->
            </select>
          </div>

          <!-- Product Officer -->
          <div class="form-group">
            <label for="productofficer" class="control-label"
              >Product Officer</label
            >
            <select
              name="productofficer"
              id="productofficer"
              class="form-controls comp"
            >
              <option value="">Select Product Officer</option>
              <!-- Add more product officer options as needed -->
            </select>
          </div>

           <!-- User Account -->
           <div class="form-group">
            <label for="useraccount" class="control-label">User Account</label>
            <input
              type="number"
              name="useraccount"
              id="useraccount"
              class="form-control comp"
              placeholder="Enter User Account"
            />
          </div>

          <!-- Status -->
          <div class="form-group">
            <label for="status" class="control-label">Status</label>
            <select name="status" id="status" class="form-control comp">
              <option value="ACTIVE">ACTIVE</option>
              <option value="INACTIVE">INACTIVE</option>
              <!-- Add more statuses if needed -->
            </select>
          </div>
        </div>
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
        <div></div>
        <div></div>
        <div class="mt-5 flex justify-end">
          <button id="submit" type="button" class="btn">
            <div class="btnloader" style="display: none"></div>
            <span>Submit</span>
          </button>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', async () => {
        
      });
    </script>
  </form>

  <div class="" id="viewpropertyproduct">
    <form id="filterviewpropertyproduct" class="">
      <div class="flex flex-col space-y-3 rounded-sm bg-blue-100 p-5 xl:p-10">
          <div class="grid grid-cols-1 gap-6 lg:grid-cols-4">
              <div class="form-group col-span-3">
                  <label for="queryUser" class="control-label">Search</label>
                  <input type="text" name="q" id="q" class="form-control comp bg-white" placeholder="Search by anything">
              </div>
              <div class="mt-5 flex justify-end">
                  <button id="querySubmit" type="button" class="btn">
                      <div class="btnloader" style="display: none;"></div>
                      <span>Search</span>
                  </button>
              </div>
          </div>
      </div>
  </form>
    <div class="table-content">
      <!--<p class="text-md font-semibold">Balance Brought Forward(B/F): <span id="bbf"></span></p>-->
      <table class="table-auto">
        <thead>
          <tr>
            <th style="width: 10px">s/n</th>
            <th>product</th>
            <th>description</th>
            <th>member</th>
            <th>status</th>
            <th>date added</th>
            <th>product officer name</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody id="tabledata">
          <tr>
            <td colspan="100%" class="text-center opacity-70">
              Table is empty
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-status"></div>
  </div>
</section>
