<div class="flex items-start justify-center min-h-screen bg-gray-100">
    <div class="text-center p-6 bg-white rounded-lg shadow-lg">
        <h1 class="text-4xl font-bold mb-4">🚫 Access Forbidden</h1>
        <p class="text-lg mb-6">
            You do <span class="font-semibold text-red-500">NOT</span> have access to this resource.<br />
            Getting here seems <span class="italic text-yellow-400">shady</span> — you have been duly reported.<br />
            If this is an honest mistake, please click on any of the navigation accessible to you.
        </p>
        <div class="w-64 h-40 mx-auto rounded-lg flex items-center justify-center">
            <img src="images/unplug.png" alt="" class="scale-[2] relative top-10">
        </div>
    </div>
</div>

