<section class="animate__animated animate__fadeIn">
    <p class="page-title">
        <span>VIEW INVENTORY</span>
    </p>

    <div class="flex w-full justify-end gap-4">
        <button
          onclick="printContent('Inventory Management', null, 'viewinventory', true)"
          type="button"
          class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
        >
          <div class="btnloader" style="display: none"></div>
          <span class="material-icons">print</span>
        </button>
    
        <button
          onclick="exportToPDF('viewinventory')"
          type="button"
          class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
        >
          <div class="btnloader" style="display: none"></div>
          <span class="material-icons">picture_as_pdf</span>
        </button>
    
        <button
          onclick="exportToExcel('viewinventory', 'inventory_list')"
          type="button"
          class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
        >
          <div class="btnloader" style="display: none"></div>
          <span class="material-icons">file_download</span>
        </button>
      </div>

    <form id="viewinventoryform">
        <div class="flex flex-col space-y-3 rounded-sm bg-blue-100 p-5 xl:p-10">
            <div class="form-group">
                <label for="itemname1" class="control-label">Item Name</label>
                <select type="text" name="itemid" id="itemidsearch" class="form-controls bg-white" placeholder="Search by Item Name">
                    <option value="">-- Select Item --</option>
                </select>
            </div>
            <div class="grid grid-cols-1 gap-6 lg:grid-cols-4">
                <div class="form-group">
                    <label for="startdate" class="control-label">Start Date</label>
                    <input type="date" name="startdate" id="startdate" class="form-control bg-white" placeholder="Start Date">
                </div>
                <div class="form-group">
                    <label for="enddate" class="control-label">End Date</label>
                    <input type="date" name="enddate" id="enddate" class="form-control bg-white" placeholder="End Date">
                </div>
                <div class="form-group">
                    <label for="branch" class="control-label">Branch</label>
                    <select name="branch" id="branchsearch" class="form-controls s bg-white">
                        <option value="">-- Select Branch --</option>
                        <!-- Options will be dynamically populated -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="department" class="control-label">Category</label>
                    <select name="department" id="departmentsearch" class="form-control s bg-white">
                        <option value="">-- Select Category --</option>
                        <!-- Options will be dynamically populated -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="applyto" class="control-label">Apply To</label>
                    <select name="applyto" id="applyto" class="form-control s bg-white">
                        <option value=''>-- Select Apply To --</option>
                        <option>FOR SALES</option>
                        <option>NOT FOR SALES</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="itemclass" class="control-label">Item Class</label>
                    <select name="itemclass" id="itemclass" class="form-control s bg-white">
                        <option value=''>-- Select Item Class --</option>
                        <option>STOCK-ITEM</option>
                        <option>NON STOCK-ITEM</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="composite" class="control-label">Composite</label>
                    <select name="composite" id="composite" class="form-control s bg-white">
                        <option value=''>-- Select Composite --</option>
                        <option>YES</option>
                        <option>NO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="group" class="control-label">Group</label>
                    <input type="text" name="group" id="group" class="form-control s bg-white" placeholder="Enter Group">
                </div>
                <div class="form-group">
                    <label for="maxqty" class="control-label">Maximum Quantity</label>
                    <input type="number" name="maxqty" id="maxqty" class="form-control bg-white" placeholder="Enter Maximum Quantity">
                </div>
                <div class="form-group">
                    <label for="minqty" class="control-label">Minimum Quantity</label>
                    <input type="number" name="minqty" id="minqty" class="form-control bg-white" placeholder="Enter Minimum Quantity">
                </div>
                <div class="form-group">
                    <label for="status" class="control-label">Status</label>
                    <select name="status" id="status" class="form-control s bg-white">
                        <option value="">-- Select Status --</option>
                        <option value="ACTIVE">Active</option>
                        <option value="INACTIVE">Inactive</option>
                        <option value="RESERVERED">Reserved</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="sort" class="control-label">Sort By</label>
                    <select name="sort" id="sort" class="form-control s bg-white">
                        <option value="">-- Select Sort By --</option>
                        <option value="itemname">Item Name</option>
                        <option value="date">Date</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="order" class="control-label">Order</label>
                    <select name="order" id="order" class="form-control s bg-white">
                        <option value="">-- Select Order --</option>
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
                <div class="form-group col-span-2">
                    <label for="reference" class="control-label">Reference</label>
                    <input type="text" name="reference" id="reference" class="form-control bg-white" placeholder="Enter Reference">
                </div>
                <div class="mt-5 flex justify-end">
                    <button id="submit" type="button" class="btn h-[40px]">
                       <div class="btnloader" style="display: none;"></div>
                       <span>Filter Inventory</span>
                   </button>
                </div>
            </div>
            <div class="mt-5 flex justify-end">
                <!-- <button id="submit" type="button" class="flex w-full items-center justify-center gap-3 rounded-md bg-gradient-to-tr from-blue-400 via-blue-500 to-primary-g px-8 py-3 text-sm font-medium capitalize text-white shadow-md transition duration-300 ease-in-out hover:opacity-75 md:w-max lg:py-2">-->
                <!--    <div class="btnloader" style="display: none;"></div>-->
                <!--    <span>Submit</span>-->
                <!--</button>-->
            </div>
        </div>
    </form>
    
    <div id="modalform" class="fixed left-0 top-0 z-[100] hidden h-screen w-screen overflow-auto bg-[#5a5a5a3e] p-10">
      <form id="viewinventoryeditform" class="animate__animated animate__fadeIn relative rounded-lg bg-[#f5f5f6] p-10 shadow-lg">
            <p class="page-title flex justify-between">
                <span>Edit INVENTORY</span>
            </p>
            <!--start container-->
            <div id="createinventoryform">
                    
            <div id="createinventorycontainer">
                <div class="mb-10 flex flex-col">
                <p name="itemno" class="page-title !mb-4">
                    <span>Item</span>
                </p>
                    <div class="flex flex-col space-y-3 rounded-sm bg-white/90 p-5 xl:p-10">
                        <div  class="relative top-[-15px] flex h-fit w-full justify-end gap-5">
                            <!--<button title="Collapse" onclick="this.parentElement.parentElement.nextElementSibling.classList.contains('hidden') ? this.parentElement.parentElement.nextElementSibling.classList.remove('hidden') : this.parentElement.parentElement.nextElementSibling.classList.add('hidden')"  class="material-symbols-outlined !z-[1] h-8 w-8 rounded-full bg-[#969696] text-xs text-white drop-shadow-md" style="font-size: 18px;">menu</button>-->
                            <!--<button title="Add Item" onclick="addform()" class="material-symbols-outlined relative h-8 w-8 rounded-full bg-[green] text-xs text-white drop-shadow-md" style="font-size: 18px;">add</button>-->
                            <!--<button title="Delete" onclick="this.parentElement.parentElement.parentElement.remove()" class="material-symbols-outlined h-8 w-8 rounded-full bg-[red] text-xs text-white drop-shadow-md" style="font-size: 18px;">remove</button>-->
                        </div>
                        
                         
                            <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
                                <input type="hidden" name="itemid" id="itemid" class="form-control" onchange="previewImage('imageone')">
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 1</label>
                                    <div id="imagePreview"></div>
                                    <input type="file" name="imageone" id="imageone" class="form-control" onchange="previewImage('imageone')">
                                </div>  
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 2</label>
                                    <div id="imagePreviewtwo"></div>
                                    <input type="file" name="imagetwo" id="imagetwo" class="form-control" onchange="previewImage('imagetwo', 'imagePreviewtwo')">
                                </div>  
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 3</label>
                                    <div id="imagePreviewthree"></div>
                                    <input type="file" name="imagethree" id="imagethree" class="form-control" onchange="previewImage('imagethree', 'imagePreviewthree')">
                                </div>  
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 4</label>
                                    <div id="imagePreviewfour"></div>
                                    <input type="file" name="imagefour" id="imagefour" class="form-control" onchange="previewImage('imagefour', 'imagePreviewfour')">
                                </div>  
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 5</label>
                                    <div id="imagePreviewfive"></div>
                                    <input type="file" name="imagefive" id="imagefive" class="form-control" onchange="previewImage('imagefive', 'imagePreviewfive')">
                                </div>  
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 6</label>
                                    <div id="imagePreviewsix"></div>
                                    <input type="file" name="imagesix" id="imagesix" class="form-control" onchange="previewImage('imagesix', 'imagePreviewsix')">
                                </div>  
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 7</label>
                                    <div id="imagePreviewseven"></div>
                                    <input type="file" name="imageseven" id="imageseven" class="form-control" onchange="previewImage('imageseven', 'imagePreviewseven')">
                                </div>  
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 8</label>
                                    <div id="imagePrevieweight"></div>
                                    <input type="file" name="imageeight" id="imageeight" class="form-control" onchange="previewImage('imageeight', 'imagePrevieweight')">
                                </div>  
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 9</label>
                                    <div id="imagePreviewnine"></div>
                                    <input type="file" name="imagenine" id="imagenine" class="form-control" onchange="previewImage('imagenine', 'imagePreviewnine')">
                                </div>  
                                <div class="form-group">
                                    <label for="url" class="control-label">Item Image 10</label>
                                    <div id="imagePreviewten"></div>
                                    <input type="file" name="imageten" id="imageten" class="form-control" onchange="previewImage('imageten', 'imagePreviewten')">
                                </div>  
                            </div> 
                            <div class="w- full grid grid-cols-1 gap-6">
                                <div class="form-group relative">
                                    <label for="logoname" class="control-label flex justify-between">Item Name</label>
                                    <input type="text" name="itemname" class="form-control comp" placeholder="Enter Name of Item">
                                </div>
                                <label class="text-xl font-medium opacity-[0.7]">Category <br> <span class="text-xs text-red-500"></span></label>    
                                <div id="departmt" class="flex h-fit min-h-[100px] flex-wrap rounded bg-[#5757570f] p-4">
                                    <div id="loading">Loading...</div> 
                                </div>
                            </div> 
                        </div>
                        <div class="">
                            <div class="flex flex-col space-y-3 rounded-sm bg-white/90 p-5 !pt-0 xl:p-10">
                                <div class="grid grid-cols-1 gap-6 lg:grid-cols-4">
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Units</label>
                                        <select name="units" id="units" class="form-control comp">
                                            <option value=''>-- Select Unit --</option>
                                            <option>PCS</option>
                                            <option>YARDS</option>
                                            <option>KG</option>
                                            <option>SETS</option>
                                            <option>METRES</option>
                                            <option>LITRES</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Cost</label>
                                        <input type="number" name="cost" class="form-control" placeholder="Enter Cost of Item">
                                    </div>
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Price</label>
                                        <input type="number" name="price" readonly class="form-control" placeholder="Set Price"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Price Two</label>
                                        <input type="number" name="price_two" readonly class="form-control" placeholder="Set Price"/>
                                    </div>
                                </div> 
                            </div>
                            <div class="flex flex-col space-y-3 rounded-sm bg-white/90 p-5 !pt-0 xl:p-10">
                                <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
                                    <!-- <div class="form-group">
                                        <label for="logoname" class="control-label">Begin Balance</label>
                                        <input type="number" name="beginbalance" class="form-control" placeholder="Enter Begin Balance">
                                    </div> -->
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Minimum Balance</label>
                                        <input type="number" name="minimumbalance" class="form-control" placeholder="Enter Minimum Balance">
                                    </div>
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Group Name</label>
                                        <input type="text" name="group" class="form-control" placeholder="Enter Group Name">
                                    </div>
                                </div> 
                            </div>
                            <div class="flex flex-col space-y-3 rounded-sm bg-white/90 p-5 !pt-0 xl:p-10">
                                <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">apply to</label>
                                        <select name="applyto" id="applyto" class="form-control comp">
                                            <option value=''>-- Select Apply To --</option>
                                            <option>FOR SALES</option>
                                            <option>NOT FOR SALES</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Reorder Level</label>
                                        <input type="text" name="reorderlevel" class="form-control" placeholder="Enter reorder level">
                                    </div>
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Composite</label>
                                        <select name="composite" id="composite" class="form-control">
                                            <option value=''>-- Select Composite --</option>
                                            <option>YES</option>
                                            <option>NO</option>
                                        </select>
                                    </div>
                                </div> 
                            </div>
                            <div class="flex flex-col space-y-3 bg-white/90 p-5 xl:p-10 !pt-0 rounded-sm">
                                <div class="grid grid-cols-1 gap-6">
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Service Description</label>
                                        <div id="description-editor" class="form-control" style="height: 450px;"></div>
                                        <input type="hidden" name="description" id="description">
                                    </div>
                                </div> 
                            </div>
                            <div class="flex flex-col space-y-3 bg-white/90 p-5 xl:p-10 !pt-0 rounded-sm">
                                <div class="grid grid-cols-1 gap-6">
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Product Description</label>
                                        <div id="productdescription-editor" class="form-control" style="height: 450px;"></div>
                                        <input type="hidden" name="productdescription" id="productdescription">
                                    </div>
                                </div> 
                            </div>
                            <div class="flex flex-col space-y-3 bg-white/90 p-5 xl:p-10 !pt-0 rounded-sm">
                                <div class="grid grid-cols-1 gap-6">
                                    <div class="form-group">
                                        <label for="logoname" class="control-label">Trade Process</label>
                                        <div id="tradeprocess-editor" class="form-control" style="height: 450px;"></div>
                                        <input type="hidden" name="tradeprocess" id="tradeprocess">
                                    </div>
                                </div> 
                            </div>
                            </div>
                        </div>
                </div>
            </div>
                
                <div class="mt-5 flex justify-end gap-5"> 
                    <button onclick="did('modalform').classList.add('hidden')" type="button" class="flex w-full items-center justify-center gap-3 rounded-md bg-gradient-to-tr from-red-400 via-red-500 to-primary-g px-8 py-3 text-sm font-medium capitalize text-white shadow-md transition duration-300 ease-in-out hover:opacity-75 md:w-max lg:py-2">
                        <div class="btnloader" style="display: none;"></div>
                        <span>cancel</span>
                    </button>
                    <button id="submitedit" type="button" class="flex w-full items-center justify-center gap-3 rounded-md bg-gradient-to-tr from-blue-400 via-blue-500 to-primary-g px-8 py-3 text-sm font-medium capitalize text-white shadow-md transition duration-300 ease-in-out hover:opacity-75 md:w-max lg:py-2">
                        <div class="btnloader" style="display: none;"></div>
                        <span>Update</span>
                    </button>
                </div>
    </div>
            
            
            <datalist id='departmentlist'></datalist>
            <datalist id='userslist'></datalist>
        
        </form>  
    </div>
    
     <div class="viewinventory">
        <div class="table-content">
            <table>
                <thead>
                    <tr>
                        <th>s/n</th>
                        <th>Item Name</th>
                        <th>category</th>
                        <th>units</th>
                        <th>applied to</th>
                        <th>Group name</th>
                        <th>description</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody id="tabledata">
                   <tr>
                        <td colspan="100%" class="text-center opacity-70"> Table is empty</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-status"></div>
    </div>

        </section> 