<section class="relative animate__animated animate__fadeIn">
    <p class="page-title">
      <span>view composite items</span>
    </p>
    
    <div class="mb-3 flex w-full justify-end gap-4">
      <button
        onclick="printContent('Composite Item Details', null, 'viewcompositeitems', true)"
        type="button"
        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
      >
        <div class="btnloader" style="display: none"></div>
        <span class="material-icons">print</span>
      </button>

      <button
        onclick="exportToPDF('viewcompositeitems')"
        type="button"
        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
      >
        <div class="btnloader" style="display: none"></div>
        <span class="material-icons">picture_as_pdf</span>
      </button>

      <button
        onclick="exportToExcel('viewcompositeitems', 'composite_item_list')"
        type="button"
        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
      >
        <div class="btnloader" style="display: none"></div>
        <span class="material-icons">file_download</span>
      </button>
    </div>

    <div id="viewcompositeitems">
      <!-- Filter Form -->
      <form id="filterviewcompositeitems" class="">
          <div class="flex flex-col space-y-3 rounded-sm bg-blue-100 p-5 xl:p-10">
              <div class="grid grid-cols-1 gap-6 lg:grid-cols-4">
                  <div class="form-group col-span-3">
                      <label for="queryUser" class="control-label">Search</label>
                      <input type="text" name="q" id="q" class="form-control comp bg-white" placeholder="Search by anything">
                  </div>
                  <div class="mt-5 flex justify-end">
                      <button id="querySubmit" type="button" class="btn">
                          <div class="btnloader" style="display: none;"></div>
                          <span>Search</span>
                      </button>
                  </div>
              </div>
          </div>
      </form>

        <div class="table-content">
            <table class="table-auto">
              <thead>
                <tr>
                  <th style="width: 10px">s/n</th>
                  <th>Item ID</th>
                  <th>Item Name</th>
                  <th>No of Items</th>
                  <th>Price</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="tabledata">
                <tr>
                  <td colspan="100%" class="text-center opacity-70">
                    Table is empty
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-status"></div>
    </div>
</section>