<section class="relative animate__animated animate__fadeIn" id="viewpropertyaccountform">
    <p class="page-title">
      <span>view propertyaccount</span>
    </p>

    <div class="mb-3 flex w-full justify-end gap-4">
      <button
        onclick="printContent('Property Account Details', null, 'viewpropertyaccount', true)"
        type="button"
        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
      >
        <div class="btnloader" style="display: none"></div>
        <span class="material-icons">print</span>
      </button>
  
      <button
        onclick="exportToPDF('viewpropertyaccount')"
        type="button"
        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
      >
        <div class="btnloader" style="display: none"></div>
        <span class="material-icons">picture_as_pdf</span>
      </button>
  
      <button
        onclick="exportToExcel('viewpropertyaccount', 'property_account_list')"
        type="button"
        class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-600 transition duration-300 ease-in-out hover:border-gray-400 hover:bg-gray-100"
      >
        <div class="btnloader" style="display: none"></div>
        <span class="material-icons">file_download</span>
      </button>
    </div>

    <div class="" id="viewpropertyaccount">
      <!-- Filter Form -->
      <form id="filterviewpropertyaccount" class="">
          <div class="flex flex-col p-5 space-y-3 bg-blue-100 rounded-sm xl:p-10">
              <div class="grid grid-cols-1 gap-6 lg:grid-cols-4">
                  <div class="col-span-3 form-group">
                      <label for="queryUser" class="control-label">Search</label>
                      <input type="text" name="q" id="q" class="bg-white form-control comp" placeholder="Search by anything">
                  </div>
                  <div class="flex justify-end mt-5">
                      <button id="querySubmit" type="button" class="btn">
                          <div class="btnloader" style="display: none;"></div>
                          <span>Search</span>
                      </button>
                  </div>
              </div>
          </div>
      </form>

      <!-- View Table -->
      <div class="table-content">
          <table class="w-full border border-gray-300 border-collapse table-auto">
            <thead>
              <tr class="text-left bg-gray-200">
                <th style="width: 5%">S/N</th>
                <th>Account Number</th>
                <th>Full Name</th>
                <th>Product</th>
                <th>Total Owed (₦)</th>
                <th>No. of Repayments</th>
                <th>Repayment Frequency</th>
                <th>Registration Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="tabledata">
              <tr>
                <td colspan="100%" class="text-center opacity-70">
                  Table is empty
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-status"></div>
    </div>  
</section>  
